body {
    display: grid;
    place-items: center;
    background-color: #000519;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    background-color: #fff9e6;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    color: #000519;
    text-align: center;
}

p {
    color: #000519;
    text-align: center;
}